.chat-list {
  padding: 20px 0 200px;
  background: linear-gradient(65deg, #EECFBA, #CC55DD);

  &__item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #ffffff;

    &--right {
      margin-left: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-date {
      color: #c1c1c1;
      font-size: 13px;
    }

    &-text {
      margin-bottom: 5px;
    }

    b {
      padding-right: 5px;
    }
  }
}