.create-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 180px;
  padding: 20px 0;
  border-top: 1px solid #c1c1c1;
  background: #ffffff;

  &__form {
    display: flex;
    flex-direction: column;

    &-textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      resize: none;
    }

    &-button {
      padding: 10px;
      border: 2px solid #2a2a2a;
      border-radius: 5px;
      background: none;
      font-weight: bold;
      color: #2a2a2a;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #ffffff;
        background: #2a2a2a;
      }
    }

  }
}