.create-user {
  padding: 20px 0;

  &__title {
    margin-bottom: 30px;
    font-weight: bold;
    color: #ffffff;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-input {
      width: 80%;
      margin-bottom: 20px;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &-button {
      width: 80%;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background: #ffffff;
      font-weight: bold;
      color: #2a2a2a;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #ffffff;
        background: #2a2a2a;
      }
    }
  }

}